# -*- makefile -*-
## -----------------------------------------------------------------------
## Intent: Install python modules required by the validate.py program.
## -----------------------------------------------------------------------

# [TOOLS]
gitpython

# [PARSER]
pyaml

# [VERSIONING]
packaging
semantic_version
semver
validators

# [EOF]
